.counter
  position: fixed
  top: 30%
  left: 50%
  font-size: 10rem
  font-weight: bold

.btnGroup
  position: fixed
  top: 500px
  left: 45%
  width: 240px
  margin: 0 auto

.btn
  font-size: 1.6rem
  font-weight: bold
  background-color: #fff
  border-radius: 50%
  margin: 10px
  width: 100px
  height: 100px
  opacity: .7
  cursor: pointer

.btn:hover
  color: white
  background-color: rgba(0, 0, 0, 0.5)
